.body10{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family:"vogue.ttf";
}

.nav_list{
    padding-left: 5px !important;
}
.h1asi{
    text-align: center;
    font-family:"vogue.ttf";
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 6px 10px;
}
.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.logo_content .logo .log_name{
    font-size: 30px;
    color: #D5F5E3;
    text-shadow: 10px 10px 10px black ;
    padding-left: 10px;

}
.logo21{
    width: 40px;
    height: 40px;
}
.hr{
    height: 200px;
    background-color: red;
}
.sidebar #btn{
    position: absolute;
    color: white;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px !important;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}
.sidebar ul li a:hover{
    color: white;
    background-color: orange;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    text-align: left;
}
.sidebar .contenido_perfil{
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    left: 0;
    width: 100%;
}
.sidebar .contenido_perfil .perfiles{
    position: relative;
    padding: 10px 6px;
    height: 80px;
    background-color:green;
}
.perfiles_content .perfiles .detalles_perfil{
    display: flex;
    align-items: center;
}
.perfiles .detalles_perfil img{
    height: 55px;
    width: 55px;
    object-fit:cover;
    border-radius: 30px;
    display: flex;
    float: left;

}
.perfiles .detalles_perfil .Nombre_trabajo{
    margin-left: 10px;
}
.perfiles .detalles_perfil .Nombre{
font-size: 15px;
font-weight: 400;
}
.perfiles .detalles_perfil .trabajo{
    font-size: 12px;
}
.perfiles #salir{
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height:50px;
    font-size: 20px;
    border-radius: 12px;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.home_content .texto{
    font-size: 25px;
    font-weight: 500;
    color: red;
}
.h2{
    font-size: small;
    font-family:"vogue.ttf";
    text-align: center !important;
}
.ul{
    background-color: orange;
    text-align: center !important;
}
.logo{
    width: 50px;
}
.table{
     height: 100%;
    width: 100%;
    margin-left: 30px;
}
.tablagen3{
    width: 95%;
}
.titleasig{
    text-align: center;
    font-size: xx-large;
    font-family:"vogue.ttf";
}
thead{
    background-color:#9CEF4A;
}
.retirogen{
    width: 100%;
}
.retiro1{
    width: 50%;
    float: left;
    margin-right: 30px;
 
}
.retiro2{
    width: 45%;
    float: left;
}
.fechainput{
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.fechainput1{
    float: left;
    width: 100%;
}
.fechainput2{
    float: left;
    width: 50%;
}
.fechainput3{
    float: left;
    width: 50%;
}
.input{
    width: 100%;
}
.inputs{
    width: 95%;
}
.inputgen1{
    margin-left: 30px;
    width: 100%;
    max-width: 100%;
}
.tablageneral2{
    width: 100%;
}
.bottonsus{
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
    justify-content: right;
}
.inputgen2{
    margin-right: 30px;
    width: 100%;
    max-width: 100%;
}
.dvgen{
    margin-left: 40px;
    margin-right: 70px;
}
.botones{
    justify-content: space-between;
    display: flex;

}
.table5{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.input1{
    width: 210px;
    margin-top: 10px;
}
.tituloact{
    text-align: center;
}
.tabla03{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 95%;
}
.lineas{
    border: 1px solid black;
}

.body11{
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}
.txt{
    text-align: center !important;
}

.celdas{
    width: 108px;
    height: 20px;
    margin-bottom: 10px;
}
.celdas1{
    width: 260px;
    height: 23px;
    margin-bottom: 10px;
}
.celdas2{
    width: 50px;
    height: 23px;
    margin-bottom: 10px;
}
.celdas3{
    width: 350px;
    height: 23px;
    margin-bottom: 10px;
}
.celdas4{
    width: 168vh;
    height: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.div1{
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
.div2{
    margin-right: 10px;
}
.hr4{
    margin-top: 10px;
}
.fieldset{
background-color: aliceblue;
border-radius: 10px;
width: 95%;
border: 1px solid black;
margin-left: 30px;
}
.legend{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    height: 35px;
    text-align: center;
}
.H2DET{
    text-align: center;
    background-color: whitesmoke;
    font-family:"vogue.ttf";
}
.celdas3{
    width: 120px;
}
.div4{
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
}
.soligen{
    width: 100%;
}
.div5{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 95%;
    justify-content: space-between;
    display: flex;
}
.registro{
    display: flex;
    justify-content: space-between;
}
.celdas5{
    width: 220px;
    height:25px;
    margin-bottom: 10px;
}
.actuat1{
    width: 100%;
}
.actuat2{
    width: 50%;
    margin-top: 10px;
}
.actuat3{
    margin-right: 10px;
}
.datos{
    text-align: justify;
}
.H2DET1{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}
.celdas6{
    width: 95%;
    height: 60px !important;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.actuagen{
    width: 100%;
    display: flex;
}
.actuap1{
    width: 50%;
    padding:10px 10px 10px 10px;
}
.actuap2{
    width: 50%;
    padding:10px 10px 10px 10px;
}
.fechas{
    justify-content: space-between;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.Tablaretiro{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}

.borders{
    border: 1px solid black;
}
.borders1{
    border: 1px solid black;
    text-align: center;
}
.tablageneral1{
    width: 95% !important;
    margin-left: 30px;
    margin-right: 30px;

}
.documentos1{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px ;
}

.serial{
    background-color: aliceblue;
}
.enviar{
    background-color: green;
    width: 170px;
    font-size: larger;
    font-family:"vogue.ttf";
}
.restablecer{
    background-color: red;
    width: 130px;
    font-size: larger;
    font-family:"vogue.ttf";
}
.entrega{
    background-color: red;

}
.movgen{
    display: flex;
}
.txtent{
    text-decoration: none;
    color: black;
}
.retiro{
    width: 40%;
    float: left;
}
.acerca{
    width: 430px;
}
.form1{
    margin: 30px 30px 30px 30px;
    max-width: 100%;
    font-family:"vogue.ttf";
}
.formulario1{
    border: 1px solid black !important;
    padding-bottom: 20px;
    border-radius: 20px;
}
.cuadro{
    width: 100%;
}
.cuadro1{
    width: 100%;
}
.cuadrogen{
    display: flex;
   justify-content: space-between;
   max-width: 100%;
}
.tablareg{
    max-width: 100%;
    width: 90%;
}
.tablareg2{
    max-width:100%;
    width: 35%;
}
.tablareg3{
    max-width:100%;
    width: 15%;
    float: left;
}
.H2DU{
    text-align: center;
    font-family:"vogue.ttf";
    background-color: #D5F5E3;
}
.hrdu{
    border: 2px solid khaki; 
    height: 2px !important; 
    background-color: rgb(255, 240, 23);
}

.botongen{
    display: flex;
}
.botonent{
    max-width: 100%;
    margin-left:10px;
    margin-top: 10px;
}
.firma1{
    height:100px;
}
.documentos2{
    display: flex;
    justify-content: space-between;
}
.restablece{
    margin-right: 50px;
    margin-top: 30px;
    width: 120px;
    max-width: 100%;
    font-size: 20px;
    background-color: red;
    font-family:"vogue.ttf";
    margin-left: 30px;
}
.send{
    margin-right: 60px;
    margin-top: 30px;
    width: 120px;
    max-width: 100%;
    font-size: 20px;
    background-color: green;
    font-family:"vogue.ttf";
}
.intform{
    margin-right: 70px;
    margin-left: 70px;
}

.cartageneral{
    border: 1px solid black !important;
}
.botonenvio{
    border: 1px solid black !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.botonenvio:hover{
    transform: scale(1.1);
    box-shadow: 10px 13px 20px black;
}
.tarjeta{
    font-family:"vogue.ttf";
    color: black !important;
    text-shadow: 10px 10px 10px #373B44;
}
.tabla1{
    max-width: 100%;
    width: 100%;
}
  .contraseña{
      width: 170px;
      max-width: 100%;
      margin-left: 30px;
      height: 30px;
      background-color: rgb(76, 156, 248);
  }
  .contraseña1{
    width: 170px;
    max-width: 100%;
    margin-left: 30px;
    height: 30px;
    background-color: rgb(62, 170, 0);
}
.TABLACONTRA{
    width: 95%;
    max-width: 100%;
    margin-right: 30px !important;
}
.imagenes1{
    width: 100px;
    height: 30px;
    display: flex;
    float: left;
}
.album{
float: left;
}
.imagregi{
    height: 100%;
    width: 100%;
}
.imagengen{
    width: 100% !important;
    height: 170px !important;
}
.creacion1{
    float: left;
    justify-content: center;
    width: 40% !important;
    margin-bottom: 30px;
    margin-left: 70px;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-between;
}